.outerFrame {
    border: 1rem solid black;
    width: fit-content;
    resize: none;
    box-shadow: 1rem 1rem 1rem 1rem white;
}

.movies {
    display : flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: fit-content;
    background-color: white;
    border-top: .75rem dashed black;
    border-bottom: .75rem dashed black;
}


img {
    width: 6rem;
    height: 8.5rem;
    margin: 0 -2rem 0 0;
    border: .5rem inset white;
    border: .25rem solid black;
    box-shadow: .5rem .5rem .5rem .5rem black;
    filter: grayscale(100%);
}

.imgFrame{
    display: flex;
    flex-wrap: wrap;
    border: 1rem solid black;
}



img:hover{
    transform:scale(2);
    transition:transform 0.2s;
    z-index:10;
    border: .5rem solid white;
    filter: grayscale(0);
    position: relative; 
  }

  img:nth-last-of-type(0){
    background-color: red;
  }
